.testSection button{
    background-color: #0099dc;
    border:none;
    font-size: 14px;
    padding: 8px;
    margin: 4px;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.testSection button:hover{
    background-color: #007cbb;
    border-radius: 5px 0 0 0;
    transition: 0.3s;
}
.badge-warning{
    background-color: orange;
}
